/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Audiowide', cursive;*/

body {
	background: #eee;
	padding-top: 65px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 150%;
	padding-bottom: 15px;
	padding-top: 5px;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
	padding-bottom: 25px;
	padding-top: 40px;
	text-align: center;
}

.icon-wrapper {
	align-items: flex-start;
	display: flex;
	flex-direction: row-reverse;
	height: 200px;
	justify-content: space-evenly;
	position: fixed;
	right: 0;
	top: 10px;
	width: 300px;
	z-index: 1;
}

.nav{
	background-color: black;
	border-bottom: 1px solid #ccc;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	width: 100%;
}

.nav ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 800px;
}

.nav li{
	float: left;
}

.nav a:link, a:visited {
	background-color: black;
	color: #FFFFFF;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 230px;
}

.nav a:hover, a:active {
	background-color: blue;
}

.header {
	background: black;
	height: 65px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.title {
	color: white;
	font-family: 'Audiowide', cursive;
	font-size: 40px;
	position: fixed;
	text-align: center;
	text-shadow: 2px 2px 2px #0000B2;
	top: 10px;
	width: 100%;
}

.welcome {
	color: blue;
	font-family: 'Audiowide', cursive;
	font-size: 60px;
	padding-bottom: 25px;
	text-align: center;
	text-shadow: 5px 5px 5px silver;
}

.latest {
	color: blue;
	font-family: 'Audiowide', cursive;
	font-size: 40px;
	padding-bottom: 25px;
	text-align: center;
	text-shadow: 2px 2px 2px silver;
}

.tiny {
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	text-align: center;
}

.github-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: fixed;
	top: 10px;
	left: 10px;
	height: 65px;
	width: 65px;
}

.github-wrapper .icon {
	text-align: center;
}

.hostedby a {
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 10px;
	position: fixed;
	text-decoration: none;
	top: 50px;
}

.wrapper {
	margin: 0 auto;
	max-width: 600px;
	padding: 0 1em;
	width: 100%;
}

.wrapper a:visited {
	color: blue;
	text-decoration: none;
}

.pic_wrap {
	background: #eee;
	margin:0 auto;
	width: 800px;
}

.left{
	float:left;
	vertical-align: middle;
	width:400px;
}

.right{
	float:right;
	width:400px;
}

.center, .center p, .right p, .left p{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	height: 100%;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.code{
	background-color: #0099FF;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 160%;
	margin-left: 5%;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 90%;
}

.centerAlign{
	text-align: center;
}

.map, .mapZoom, .mapLayers {
	height:400px;
	width:100%;
}

.bar {
	background-color: teal;
  display: inline-block;
  height: 75px;
	width: 20px;
}
