body {
    background-image: url("http://i.imgur.com/WHAYHdd.jpg");
}

header{
/*background-color: rgba(183, 245, 159, .99);*/
text-align: center;
font-size: 60px;
color: rgba(159, 245, 125);
font-family: 'Audiowide', cursive;
}

div.opacity50{
	opacity: 0.5;
}

p{
color: black;
text-align: center;
background-color: white;
opacity: 0.9;
}

#code{
color: purple;
text-align: center;
background-color: yellow;
opacity: 0.9;
}

h2{
text-align: center;
background-color: rgba(228, 247, 220, .5);
opacity: 0.9;
}

h3{
color: white;
text-align: center;
background-color: rgba(228, 247, 220, .5);
opacity: 0.7;
}

/* unvisited link */
a:link {
color: rgba(110, 0, 245, .8);
text-decoration: none;
}

 /*visited link */
a:visited {
color: rgba(110, 0, 245, .8);
text-decoration: none;
}

/* mouse over link */
a:hover {
color: black;
text-decoration: none;
}

/* selected link */
a:active {
color: rgba(110, 0, 245, .8);
text-decoration: none;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

#left {
    width: 400px;
    padding: 20px;
    text-align: center;
    float: left;
    background-color: rgba(255, 255, 255, .28);
}

#left h2{
	color: purple;
	border: 5px solid purple;
}

#right {
    padding: 20px;
    overflow: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, .28);
}

#right h2{
	color: purple;
	border: 5px ;
	border: 5px solid purple;
}

#right p{
	color: purple;
	border: 5px ;
}

#im {
	max-width: 100%
}

#rightc {
    padding: 20px;
    overflow: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, .28);
}

#leftc {
    width: 300px;
    text-align: center;
    float: left;
    background-color: rgba(255, 255, 255, .28);
    color: purple;
}

#code{
color: purple;
text-align: left;
background-color: yellow;
opacity: 0.9;
}