p {
  background-color:pink;
  font-size: small;
  color: #000099
}

h1, h2, h3, h4, h5, h6 {
  color: #009900;
  background-color: yellow;
  font-family: Georgia, sans-serif;
}

body {
	background-color:lightblue;
}